<div class="dashboard">
  <div class="dashboard-nav">
    <nav class="dashboard-nav-list">
      <a
        routerLink="/admin/chart"
        routerLinkActive="active"
        class="dashboard-nav-item"
        ><i class="fa fa-tachometer"></i>Dash Board
      </a>
      <a
        routerLink="/admin/add-user"
        routerLinkActive="active"
        class="dashboard-nav-item"
        ><i class="fa fa-user-plus"></i>Add User
      </a>
      <a
        routerLink="/admin/crud-product"
        routerLinkActive="active"
        class="dashboard-nav-item"
        ><i class="fa fa-plus-circle"></i>Add Product
      </a>
      <a
        routerLink="/admin/product-list"
        routerLinkActive="active"
        class="dashboard-nav-item"
        ><i class="fa fa-list"></i>Product List</a
      >
      <a
        routerLink="/admin/user-list"
        routerLinkActive="active"
        class="dashboard-nav-item"
        ><i class="fa fa-list-alt"></i> User List
      </a>
      <a
        routerLink="/profile"
        class="dashboard-nav-item"
        routerLinkActive="active"
        ><i class="fa fa-user"></i> Profile
      </a>
      <a
        routerLink="/changepassword"
        routerLinkActive="active"
        class="dashboard-nav-item"
        ><i class="fa fa-lock"></i> Change Password
      </a>
      <a
        routerLink="/admin/order-manager"
        routerLinkActive="active"
        class="dashboard-nav-item"
        ><i class="fa fa-tasks"></i> Order Manager
      </a>
    </nav>
  </div>
</div>
