<div class="dashboard">
  <div class="dashboard-nav">
    <nav class="dashboard-nav-list">
      <a
        routerLink="/admin/crud-product"
        routerLinkActive="active"
        class="dashboard-nav-item"
        ><i class="fa fa-plus-circle"></i>Add Product
      </a>
      <a
        routerLink="/admin/product-list"
        routerLinkActive="active"
        class="dashboard-nav-item"
        ><i class="fa fa-list"></i>Product List</a
      >
      <a
        routerLink="/admin/user-list"
        routerLinkActive="active"
        class="dashboard-nav-item"
        ><i class="fa fa-list-alt"></i> User List
      </a>
      <a href="#" class="dashboard-nav-item"
        ><i class="fa fa-user"></i> Profile
      </a>
      <div class="nav-item-divider"></div>
    </nav>
  </div>
</div>

<script>
  //     const mobileScreen = window.matchMedia("(max-width: 990px )");
  // $(document).ready(function () {
  //     $(".dashboard-nav-dropdown-toggle").click(function () {
  //         $(this).closest(".dashboard-nav-dropdown")
  //             .toggleClass("show")
  //             .find(".dashboard-nav-dropdown")
  //             .removeClass("show");
  //         $(this).parent()
  //             .siblings()
  //             .removeClass("show");
  //     });
  //     $(".menu-toggle").click(function () {
  //         if (mobileScreen.matches) {
  //             $(".dashboard-nav").toggleClass("mobile-show");
  //         } else {
  //             $(".dashboard").toggleClass("dashboard-compact");
  //         }
  //     });
  // });
</script>
