<div class="card mb-3 fixProduct" *ngFor="let product of products| slice:0:6">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/{{product.img}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8" fixMargin>
        <div class="card-body ">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text"><strong>Giá: {{product.price}}<u>$</u></strong></p>
        </div>
        <button type="button" class="btn btn-success" style="margin-bottom: 10px;margin-left:15px">Click Buy</button>
      </div>
    </div>
  </div>