<h1>About us</h1>
<hr />
<div class="header-title">
  <span>
    Dinh Nhut Construction and Trade Investment Joint Stock Company owns
    DinhNhut2K Mobile store chain - a leading retailer, specializing in
    providing genuine technology products in the Vietnamese market. In 1996,
    DinhNhut2K Mobile was established, gradually becoming a reliable address of
    Vietnamese consumers. With the slogan "If what we don't have, you don't need
    it", we have been and will continue to strive to bring a wide variety of
    genuine technology products with the best prices. serve the needs of your
    customers. After more than 20 years of development, DinhNhut2K Mobile has
    become a name that is no longer strange to domestic consumers. Currently, we
    own a network of more than 100 branches covering the whole country,
    including two service centers in Hanoi and one service center in Ho Chi Minh
    City. Coming to DinhNhut2K Mobile's store chain, you can be completely
    assured of the prestige and quality of products with prices about 15-20%
    cheaper than the market price. Along with that, we also always strive to
    serve to bring the best service experience to our customers.
  </span>
  <hr>
  <h3 class="thanks">Thank you for trusting and choosing our service</h3>
  <div
  
  class="owl-wrapper"
>
  <div class="owl-item" style="width: 234px; margin-right: 8px">
    <div class="item">
      <img
        alt="Ca sĩ Đăng Khôi"
        src="https://cdn.didongviet.vn/pub/media/mageplaza/bannerslider/banner/image/_/a/_a_ng-kho_i.png"
      />
      <p class="font-subtitle-1">Singer: Dang Khoi</p>
      <div class="hover-star"></div>
    </div>
  </div>
  <div class="owl-item" style="width: 234px; margin-right: 8px">
    <div class="item">
      <img
        alt="Người mẫu Ngọc Trinh"
        src="https://cdn.didongviet.vn/pub/media/mageplaza/bannerslider/banner/image/n/g/ngo_c-trinh.png"
      />
      <p class="font-subtitle-1">Model: Ngoc Trinh</p>
      <div class="hover-star"></div>
    </div>
  </div>
  <div class="owl-item" style="width: 234px; margin-right: 8px">
    <div class="item">
      <img
        alt="Diễn viên Trương Ngọc Ánh "
        src="https://cdn.didongviet.vn/pub/media/mageplaza/bannerslider/banner/image/t/r/tru_o_ng-ngo_c-a_nh.png"
      />
      <p class="font-subtitle-1">Actor: Truong Ngoc Anh</p>
      <div class="hover-star"></div>
    </div>
  </div>
  <div class="owl-item" style="width: 234px; margin-right: 8px">
    <div class="item">
      <img
        alt="Ca sĩ Ngô Kiến Huy"
        src="https://cdn.didongviet.vn/pub/media/mageplaza/bannerslider/banner/image/n/g/ngo_-kie_n-huy.png"
      />
      <p class="font-subtitle-1">Singer: Ngo Kien Huy</p>
      <div class="hover-star"></div>
    </div>
  </div>

</div>
  <br />
  <hr>
  <div class="important">
    <ul>
      <h3>Important milestones:</h3><br>
      <li>
        1996: Established the first DinhNhut2K Mobile store located on the busy
        street of Hanoi capital at 194 Le Duan.
      </li>
      <li>
        2000: DinhNhut2K Mobile officially became a genuine mobile phone
        distributor in cooperation with many leading brands such as Samsung,
        OPPO, Nokia, Huawei,...
      </li>
      <li>
        2006: With 10 years of experience in retail, DinhNhut2K Mobile developed
        strongly and continuously opened many new branches.
      </li>
      <li>
        2016: Celebrating 20 years of operation in the field of retail
        technology products, Hoang Ha Mobile has affirmed a solid foothold in
        the market as well as in the subconscious of consumers.
      </li>
      <li>
        In 2019: DinhNhut2K Mobile officially cooperated with the telecom giant
        MobiFone Vietnam to open a chain of affiliate sales branches, bringing
        the total number of branches to more than 60, and covering 30 provinces
        and cities across the country. Since then, DinhNhut2K Mobile has
        continuously accompanied MobiFone to organize large and small events.
      </li>
      <li>
        2020: DinhNhut2K Mobile is proud to become the official authorized
        retailer of Apple in Vietnam. Genuine Apple VN/A products distributed by
        Apple Vietnam are sold at Hoang Ha Mobile system with the best market
        price and prestigious warranty.
      </li>
    </ul>
  </div>
</div>
<div class="owl-wrapper-outer">
 
</div>
