<form class="reset-form">
  <input type="hidden" name="token" />
  <div class="border border-secondary rounded p-3">
    <div>
      <h2>Change Password</h2>
    </div>
    <div>
      <p>
        <label for="" class="change-pass">Current Password:</label>
        <input
          type="password"
          name="oldPassword"
          id="oldPassword"
          class="form-control"
          [(ngModel)]="oldPassword"
          placeholder="Enter your current password"
          required
          autofocus
        />
      </p>
      <p>
        <label for="" class="change-pass">New Password:</label>
        <input
          type="password"
          class="form-control"
          name="newPassword"
          id="newPassword"
          [(ngModel)]="newPassword"
          placeholder="Enter your new password"
          required
        />
      </p>
      <p>
        <label for="" class="change-pass">Confirm Password:</label>
        <input
          type="password"
          class="form-control"
          name="confirmPassword"
          id="confirmPassword"
          [(ngModel)]="confirmPassword"
          placeholder="Confirm your new password"
          required
        />
      </p>
      <p class="btn-change">
        <input
          [disabled]="!(oldPassword && newPassword && confirmPassword)"
          type="submit"
          value="Submit"
          class="btn btn-success btn-submit"
          (click)="onSubmit()"
        />
      </p>
    </div>
  </div>
</form>
