<form name="form" class="border" (ngSubmit)="submit()">
  <div class="form-group">
    <h2>Reset Password</h2>
    <label for="reset">Email:</label>
    <input
      type="email"
      class="form-control"
      name="email"
      [(ngModel)]="email"
      required
      placeholder="Enter your e-mail..."
    />
    <button class="btn btn-success" type="submit">Reset now</button>
    <button
      class="btn btn-success fix-button"
      type="submit"
      routerLink="/login"
    >
      Back
    </button>
  </div>
</form>
