<form name="form" class="border" (ngSubmit)="submit()" [formGroup]="forgetForm">
  <div class="form-group">
    <h2>Reset Password</h2>
    <label for="reset">Email:</label>
    <input
      type="email"
      class="form-control"
      name="email"
      required
      email
      formControlName="email"
      placeholder="Enter your email ..."
    />
    <div
      class="text-danger error-noti"
      *ngIf="
        forgetForm.controls['email'].dirty &&
        forgetForm.controls['email'].errors
      "
    >
      <div
        class="text-danger title-error"
        *ngIf="forgetForm.controls['email'].errors?.['email']"
      >
        *Incorrect email format.
      </div>
      <div
        class="text-danger title-error"
        *ngIf="forgetForm.controls['email'].errors?.['required']"
      >
        *Email is required.
      </div>
    </div>

    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="forgetForm.invalid"
    >
      <span class="spinner-border spinner-border-sm" *ngIf="isLoading"></span>
      Reset now
    </button>
    <button
      class="btn btn-primary fix-button"
      type="submit"
      routerLink="/login"
    >
      Back
    </button>
  </div>
</form>
