<div class="container">
  <div class="search">
  <div class="input-group">
    <div class="form-outline">
      <label class="form-label" for="form1">Search: </label>
      <input type="search" id="form1" class="form-control" />
    </div>
  </div>
  <button class="btn btn-primary fix-search">
    <i class="fa fa-search " aria-hidden="true"></i>
  </button>
</div>
<h3 class="title">My Purchase</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let chk of checkout">
        <th scope="row">{{ chk.products?.name }}</th>
        <td>${{ chk.products?.price }}</td>
        <td>{{ chk.quantity }}</td>
        <td>{{ chk.products?.price! * chk.quantity! }}</td>
      </tr>
    </tbody>
  </table>
</div>
