<div class="container">
  <br />
  <h3 class="title">My Purchase</h3>
  <table class="table table-bordered tb-history">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Create At</th>
        <th scope="col">STATUS</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let or of orders
            | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                }
        "
        class="tr-history"
      >
        <th>
          <a [routerLink]="['/detail/' + or.id]">HD: {{ or.id }}</a>
        </th>
        <td>{{ or.createdAt | date : "MM/dd/yyyy" }}</td>
        <td class="status">{{ displayStatus(or.status!) }}</td>
      </tr>
    </tbody>
  </table>
  <div class="fix-paginator">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
      class="page-button"
    >
    </pagination-controls>
    <select
      class="css-select"
      aria-label="Default select example"
      (change)="onTableSizeChange($event)"
    >
      <option *ngFor="let size of listSize" [ngValue]="size">
        <span>{{ size }}</span>
      </option>
    </select>
  </div>
</div>
