<div class="body-user-list">
  <div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-12">
              <h2>Product <b>Management</b></h2>
            </div>
            <form class="d-flex form-inline my-2 my-lg-0 col-sm-9">
              <ngx-slider
                class="slider"
                [(value)]="minValue"
                [(highValue)]="maxValue"
                [options]="options"
              ></ngx-slider>
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                name="searchName"
                [(ngModel)]="searchName"
              />
              <select
                id="selectStatus"
                name="selectStatus"
                [(ngModel)]="selectStatus"
                class="form-select"
                aria-label="Default select example"
              >
                <option
                  [ngValue]="undefined"
                  [hidden]="!selectStatus"
                  *ngIf="!selectStatus"
                >
                  Select Status
                </option>
                <option *ngFor="let list of listStatus" [ngValue]="list">
                  <span style="background-color: red !important">{{
                    list.name
                  }}</span>
                </option>
              </select>
              <button
                class="btn-primary fas fa-search"
                type="submit"
                (click)="searchFunction()"
              >
                Search
              </button>
              <button
                class="btn-primary fas fa-eraser clear"
                (click)="clearData()"
              >
                Clear
              </button>
            </form>
          </div>
        </div>
        <table
          class="table table-striped table-hover"
          *ngIf="products.length != 0"
        >
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Description</th>
              <th>Image</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let product of products
                  | paginate
                    : {
                        itemsPerPage: tableSize,
                        currentPage: page,
                        totalItems: count
                      }
              "
            >
              <td>{{ product.id }}</td>
              <td>{{ product.name }}</td>
              <td>${{ product.price }}</td>
              <td>{{ product.quantity }}</td>
              <td>{{ product.description }}</td>
              <td><img class="fix-img" src="{{ product.img }}" /></td>
              <td>
                <div class="button-crud">
                  <button
                    class="btn-xs fix-button"
                    (click)="updateProduct(product.id)"
                  >
                    <span class="fa fa-edit"></span> Update
                  </button>
                  <button
                    (click)="deleteProduct(product.id)"
                    class="btn-xs fix-button"
                  >
                    <span class="fa fa-remove"></span> Delete
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <table *ngIf="products.length == 0" style="margin: auto">
          <h2>Product Not Found</h2>
        </table>
        <div class="clearfix"></div>
        <div class="fix-paginator" *ngIf="products.length != 0">
          <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onTableDataChange($event)"
            class="page-button"
          >
          </pagination-controls>
          <select
            class="css-select"
            aria-label="Default select example"
            (change)="onTableSizeChange($event)"
          >
            <option *ngFor="let size of listSize" [ngValue]="size">
              <span>{{ size }}</span>
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
