<section class="pro-file">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-12 mb-4 mb-lg-0 px-0">
        <div class="card mb-3" style="border-radius: 0.5rem">
          <div class="row g-0">
            <div
              class="col-md-4 gradient-custom text-center text-white"
              style="
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
              "
            >
              <a href="https://ibb.co/bdbzCF4"
                ><img
                  src="https://i.ibb.co/cTYDZwW/nhutdeptrai.jpg"
                  alt="nhutdeptrai"
                  style="border-radius: 10px !important"
                  class="img-fluid my-5"
                  style="width: 120px"
              /></a>
              <!-- <img
                src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png"
                alt="Avatar"
                class="img-fluid my-5"
                style="width: 80px"
              /> -->
              <div class="">
                <input [(ngModel)]="user.fullName" class="input-info" />
              </div>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Email:</h6>
                    <input
                      [(ngModel)]="user.email"
                      class="form-control"
                      [disabled]="true"
                    />
                  </div>
                  <div class="col-6 mb-3">
                    <h6>User name:</h6>
                    <input class="form-control" [(ngModel)]="user.username" />
                  </div>
                </div>
                <h6>Role:</h6>
                <input
                  [(ngModel)]="user.role[0].name"
                  class="form-control"
                  [disabled]="true"
                /><br />
                <button
                  type="submit"
                  class="btn btn-success"
                  (click)="onSubmit()"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
