h5 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.button-clear {
  width: 110px !important;
}
.btn-add {
  float: right;
}
button {
  color: white;
  font-weight: bold;
}
.form-label {
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
}
.input-group {
  margin-top: 30px;
}
.button-feature {
  margin-top: 10px;
}
.text-danger {
  width: 100%;
  margin-top: 10px;
  font-size: 15px;
  margin-left: 5px;
}
